.custom-input-margin {
  margin-right: 8px;
}
body {
  background: #f5f5f5 !important;
}

.flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.my-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  color: #000;
  cursor: pointer;
}

.dropdown-toggle {
  display: -webkit-box !important;
}

.dropdown-toggle::after {
  margin-left: 15px;
  color: #000;
  vertical-align: middle;
}

.my-avatar-dropdown:hover > .dropdown-toggle::after {
  color: #fff;
}

.my-avatar-dropdown {
  width: 70px;
  background-color: #e5e5e5;
  align-self: center;
  padding: 5px;
  border-radius: 20px;
  align-self: self-end;
}

.my-avatar-dropdown:hover {
  background-color: #d92323;
}

.dropdown-menu {
  margin-top: 5px;
}

.my-modal-header {
  border-bottom: none !important;
  background-color: #ffc8c8;
}

.my-badge-state {
  padding: 12px;
  color: #fff;
  font-weight: 600;
  background: #da241e !important;
  border-radius: 3px;
  position: absolute;
  top: 23px;
}

.my-modal-button {
  padding: 12px;
  color: #fff;
  font-weight: 600;
  background: #da241e !important;
  border: 1px solid #da241e;
  border-radius: 3px;
}

.my-badge-pending-state {
  background-color: #da241e !important;
}

.my-badge-appoved-state {
  background-color: #f9db4a !important;
}

.my-badge-progress-state {
  background-color: #4baf4f !important;
}

.my-badge-done-state {
  background-color: #03a9f4 !important;
}

.my-badge-career-software {
  background-color: #2596be !important;
}
.my-badge-career-graphic {
  background-color: #ffb900 !important;
}
.my-badge-career-tourism {
  background-color: #00a99d !important;
}
.my-badge-career-fashions {
  background-color: #ab4bde !important;
}
.my-badge-career-financial {
  background-color: #8e0606 !important;
}
.my-badge-career-logistics {
  background-color: #f44336 !important;
}

.my-projects-table {
  max-height: 300px !important;
  overflow-y: auto !important;
}

.my-dropdown-project-filter, .my-btn-create-project {
  background-color: #b6b6b6 !important;
  border: none;
}

.my-dropdown-project-filter::after {
  display: none !important;
}

.my-dropdown-filter-active {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: 600;
}

.my-dropdown-filter-desactive {
  background-color: #fff !important;
  color: #000 !important;
}

.border-info-component {
  border-right: 1px solid #ccc;
}

@media (max-width: 767px) {
  .border-info-component {
    border-right: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
}


.label-as-h2 {
  font-size: "1.5rem";
  font-weight: "bold";
  margin-bottom: "0.5rem";
}

.my-header-project-PENDIENTE  {
  border-bottom: none !important;
  background-color: #ffc8c8;
}
.my-header-project-validated  {
  border-bottom: none !important;
  background-color: #f5f6ab;
}
.my-header-project-inprogress  {
  border-bottom: none !important;
  background-color: #d3ffc8;
}
.my-header-project-finalized  {
  border-bottom: none !important;
  background-color: #78d5ff;
}

.my-badge-state-PENDIENTE {
  padding: 12px;
  color: #fff;
  font-weight: 600;
  background: #da241e !important;
  border-radius: 3px;
  position: absolute;
  top: 15px;
}
.my-badge-state-validated {
  padding: 12px;
  color: #fff;
  font-weight: 600;
  background: #f9db4a !important;
  border-radius: 3px;
  position: absolute;
  top: 15px;
}
.my-badge-state-inprogress {
  padding: 12px;
  color: #fff;
  font-weight: 600;
  background: #4baf4f !important;
  border-radius: 3px;
  position: absolute;
  top: 15px;
}
.my-badge-state-finalized {
  padding: 12px;
  color: #fff;
  font-weight: 600;
  background: #03a9f4 !important;
  border-radius: 3px;
  position: absolute;
  top: 15px;
}

/* SelectTypeTags.css */

.select-type-tag {
  opacity: 0.5; 
}
.select-type-tag.selected {
  opacity: 1; 
}

