  .Card--featured {
    position: relative;
    width: 500px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px; 
  }

  .Card--featured:hover {
    transform: scale(1.010);
  }

  .Card--featured .d-flex {
    height: 100%;
  }

  .Card--featured .d-flex .align-items-center {
    height: 100%;
  }

  .Card--featured .Card.Body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    text-align: justify;
  }

  .image-container {
    flex: 0 0 30%; 
    display: flex;
    align-items: stretch;
  }

  .custom-img {
    width: 100%;
    object-fit: cover; 
  }

  .Card--link {
    text-decoration: none; 
    color: inherit; 
  }

  .Card--link:hover {
    text-decoration: none; 
  }
/* ESTILOS DE NAVBAR */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.link {
  color: gray;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s, background-color 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.link.active::after,
.link:hover::after {
  width: 100%;
  background-color: red;
}

.link.active span,
.link:hover span,
.link.active svg,
.link:hover svg {
  color: red;
}

/* ESTILOS DE BOTONES DE VER Y DESCARGAR DOCUMENTOS */
.linkIconEye {
  margin-right: 10%;
  font-size: 130%;
  color: #f44336;
}

.linkIconDownload {
  margin-right: 10%;
  font-size: 130%;
  color: #00bcd4;
}

.linkIconEye:hover {
  cursor: pointer;
  color: #e30513;
  transform: translateY(-25%);
  transition: 0.3s;
}

.linkIconDownload:hover {
  cursor: pointer;
  color: #0097ab;
  transform: translateY(-25%);
  transition: 0.3s;
}

/* ESTILOS DE BADGES DE ESTADOS*/
.bd-pending {
  background-color: #da241e !important;
}

.bd-progress {
  background-color: #4baf4f !important;
}

.bd-appoved {
  background-color: #f9db4a !important;
}

.bd-done {
  background-color: #03a9f4 !important;
}

.bd-rechazado {
  background-color: #e4dcd7 !important;
}

/* ESTILOS DE PÁGINA DE TABLA DE TAREAS Y CREAR TAREA*/
/* .button-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.986);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.button-text:hover {
  background-color: #e30513;
  color: #fff;
  opacity: 1;
  transition: 0.3s;
}

.button-text:hover + svg {
  opacity: 0;
} */

/* ESTILOS DE FOOTER */
.Footer {
  padding: 2rem 0;
  margin-top: 15rem;
  background: #86001b;
}

.item-listGroup {
  background: #86001b;
  border-color: #86001b;
}

.ft-1 p {
  text-align: justify;
  color: #fff;
}

.icono {
  border-radius: 50%;
}

.icono:hover {
  border-radius: 50%;
  transition: .3s;
  overflow: hidden;
  transform: translateY(-10%);
}

.ft-2 ul {
  list-style: none;
  padding-left: 0;
}

.ft-2 ul li {
  padding: 0.35rem 0;
}

.ft-2 ul a:hover {
  color: red;
}