  .Card--featured {
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px; 
  }

  .Card--featured:hover {
    transform: scale(1.010);
  }

  .Card--featured .d-flex {
    height: 100%;
  }

  .Card--featured .d-flex .align-items-center {
    height: 100%;
  }

  .Card--featured .Card.Body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    text-align: justify !important;
  }

  .image-container {
    flex: 0 0 30%; 
    display: flex;
    align-items: stretch;
  }

  .custom-img {
    width: 100%;
    object-fit: cover; 
  }

  .Card--link {
    text-decoration: none; 
    color: inherit; 
  }

  .Card--link:hover {
    text-decoration: none; 
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
  
.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.link:hover {
    color: white;
    background-color: red;
    border-radius: 13%;
}

@media (max-width: 374px) {
  .Card--featured {
    height: 280px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .Card--featured {
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .Card--featured {
    height: 230px;
  }
}

@media (min-width: 992px) {
  .Card--featured {
    height: 200px;
  }
}